<mat-card class="auth-card">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>

    <div class="form-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </div>
    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div style="margin-top: 16px">
      <span>Don't have an account?</span>
      <a routerLink="/auth/register">Register here</a>
    </div>
  </form>
</mat-card>
